<p id="notice"><%= notice %></p>

<h1>タスク一覧</h1>


<table>
  <thead>
    <ul>
    <% @tasks.each do |task| %>
    <tr>
      <td><li><%= link_to task.title, task_path(task) %></li></td>
      <!-- <td><%= task.body %></td> -->
      <%# <th>タイトル</th> %>
      <td>|<%= link_to "削除", tasks_path, method: :delete, data: { confirm: '削除してもいいですか?' } %></li></td>
      <%# <th>内容</th> %>
      <td colspan="3"></td>
    </tr>
    <% end %>
    </ul>
  </thead>


  <!-- <tbody>
      <tr>
        <%# <td><%= link_to '詳細', task %></td> %>
        <%# <td><%= link_to '編集', edit_task_path(task) %></td> %>
        <%# <td><%= link_to '削除', task, method: :delete, data: { confirm: '削除してもいいですか?' } %></td> %>
      </tr>
  </tbody> -->
</table>

  <hr>

<h2>タスク登録</h2>

<%= render 'form', task: @task %>

