<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<%= link_to '編集', edit_task_path(@task) %> 
<%= link_to '削除', tasks_path, method: :delete, data: { confirm: '削除してもいいですか?' } %>
<%= link_to '戻る', tasks_path %>
